@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
  }

html {
    max-width: 1600px;
    min-width: 300px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', 'Source Sans Pro', sans-serif;
    max-width: 100%;
}

.main {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 60px;
}

/* general */

a {
  text-decoration: none;
}

p,
h1,
h2 {
  margin: 0;
}